.cg-legend {
    display: flex;
    flex-wrap: wrap; /* Zapewnia, że elementy zamiast przejścia na nową linię, będą się "zawijać" do nowego wiersza */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .cg-legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Dodatkowe marginesy między elementami */
    margin-bottom: 5px;
  }
  
  .cg-legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 10px ;
  }